@import "../../Themes/viewport.scss";

.virtual-container {
  display: flex;
  @include tablet {
    flex-direction: column;
  }
}
.text-block {
  width: 48%;
  @include tablet {
    width: 100%;
  }
}
.text-conatiner {
  display: flex;
  @include tablet {
    flex-direction: row;
  }
}
.text-left {
  width: 25%;
  display: flex;
  margin: 0;
  padding: 0 0.5rem 0;
  @include tablet {
    width: 33%;
  }
  > h2 {
    margin: 0;
    color: #595959;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include tablet {
      font-size: 2.375rem;
    }
  }
}
.text-right {
  width: 70%;
  padding-top: 1.5rem;
  @include tablet {
    width: 100%;
  }
}
.paragarph {
  color: #636363;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0875rem;
  text-align: left;
}

.link {
  display: inline-block;
  padding: 0 0.2rem;
  color: #636363;
  text-decoration: underline;
}
.link a {
  color: #636363;
  text-decoration: underline;
}
.v-h {
  font-family: Inter;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(180deg, #1e7de2 0%, #5027a9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  display: flex;
  @include tablet {
    font-size: 3.375rem;
  }
}
.image-block {
  width: 50%;
  margin-top: 5rem;

  @include tablet {
    width: 100%;
  }
}
.input-container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 0.5rem;
  align-items: end;
  margin-bottom: 5rem;
  > button {
    width: 11.8125rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 4.8125rem;
    background: linear-gradient(180deg, #3262cb 0%, #7900e9 100%);
    color: #fff;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
  @include tablet {
    justify-content: center;
    align-items: center;
  }
}
.inputs {
  border-radius: 0.6875rem;
  border: 1px solid #9f9d9d;
  background: rgba(229, 229, 229, 0);
  width: 13.1875rem;
  height: 3rem;
  flex-shrink: 0;
  @include tablet {
    width: 100%;
  }
}
.inputs::placeholder {
  padding-left: 0.5rem;
}
